h1{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h6{
    
    
    font-size: 30px;
}

button{
    margin-left: 5px;
}

#letritas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color:gray;
}

#cuadro{
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid #000000;
    padding: 8px;
    position: static;
    margin-bottom: 20px;
}

#alerta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:black;
    margin-top: 100px;
    margin-bottom: 100px;
}

#espacio{
    position: static;
}

.btn:disabled{
    opacity: 1;
    background-color: rgb(166, 215, 201);
    border-color: rgb(166, 215, 201);
}