<app-navigation-home></app-navigation-home>
<div id="todoContenido" class="container-fluid">
    <div class="row"  style="margin-top: 20px;">
        <div class="col-md-8 text-center offset-2">
            <h1>Nuevas solicitudes</h1>
            <br>
        </div>
    </div>

    <div class="row" *ngIf="mostrarNot">
        <div  class="div col-md-8 offset-2" id="cuadro" *ngFor="let datos of notifiacion">
            <div class="row">
                <div class="col-md-2">
                    <img id="cuadro"  src="../../../assets/easter-bunny.png" width="100px" height="100px" class="img">
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-4">
                    <br>
                    <ul>
                      <li>{{datos.nombre}} {{datos.apellidos}}</li>
                      <li>{{datos.email}}</li>
                    </ul>
                </div>

                <div id="espacio" class="col-md 1 text-right">
                    <br>
                    <button class="btn btn-primary" *ngIf="datos.idColaborador1===datos.idColaborador" (click)="aceptar(datos.idColaborador)">Aceptar</button>
                    <button class="btn btn-danger" *ngIf="datos.idColaborador1===datos.idColaborador" (click)="rechazar(datos.idColaborador)">Rechazar</button>
                    <!--a estos bontones cambia cuando hacemos click en los de arriba-->
                    <button class="btn btn-primary" *ngIf="datos.idColaborador1===true" disabled="true">Solicitud aceptada</button> 
                    <button class="btn btn-primary" *ngIf="datos.idColaborador1===false" disabled="true">Solicitud rechazada</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!mostrarNot">
            <div class="div col-md-8 offset-2 text-center" id="cuadro">
              <p id="alerta"> No hay nuevas notificaciones</p>
            </div>
    </div>
        
</div>


<app-footer></app-footer>