<app-navigation-home></app-navigation-home>

<div class='col-md-7'>

    <div class='pt-3'></div>

    <div class='card' id='zona_maker'>
        <h1 class='text-center pt-3'>Modificar evento</h1>

        <form
            class="pb-5 pl-3 pr-3"
            (ngSubmit)="onSubmit()"
            #registerForm="ngForm"
            novalidate
        >
            <div class='card-body'>

                <!--div class='form-group col-md-12'>
                    <label for='encargadoEvento'>Encargado del evento</label>
                    <input 
                        type='text' 
                        class='form-control' 
                        id='encargadoEvento'
                        disabled
                        name='encargado' 
                        [(ngModel)]='eventModel.encargado' 
                        #encargado="ngModel"
                        placeholder='{{idUsuario}}'
                        value='{{idUsuario}}'
                    >
                    {{encargado}}
                </div-->

                <label for='inputEvento' class='col-md-12'>Evento</label>
                <div class='form-group col-md-12'>
                    <select 
                        class='custom-select'
                        id='inputEvento'
                        required 
                        name='evento' 
                        [(ngModel)]='eventModel.evento' 
                        #evento="ngModel"
                    >
                        <option selected value="0">Seleccione un evento</option>
                        <option *ngFor="let evento of eventos" value='{{evento.id[0].idEvento}}'>
                            {{evento.nombre[0].nombre}} (id: {{evento.id[0].idEvento}})
                        </option>
                    </select>
                </div>

                <div class='form-group col-md-12'>
                    <label for='inputNombreEvento'>Nombre de evento</label>
                    <input 
                        type='text' 
                        class='form-control' 
                        id='inputNombreEvento'
                        required 
                        name='nombre' 
                        [(ngModel)]='eventModel.nombre' 
                        #nombre="ngModel"
                        [class.is-invalid]="nombre.invalid && nombre.touched"
                        placeholder='(Obligatorio)'
                    >
                </div>
                
                <!--label for='inputEncargadoTarea' class='col-md-12'>Encargado de evento</label>
                <div class='row offset-md-0' >
                    <div class='col-md-11'>
                        <select 
                            id='inputEncargadoEvento'
                            class='custom-select'
                            required 
                            name='encargado' 
                            [(ngModel)]='eventModel.encargado' 
                            #encargado="ngModel"
                        >
                            <option selected value="0">Seleccione un encargado</option>
                            <option *ngFor="let colaborador of colaboradores" value='{{colaborador.idColaborador[0].idColaborador}}'>
                                {{colaborador.nombreColaborador[0].nombre}} {{colaborador.apellidosColaborador[0].apellidos}} 
                            </option>
                        </select>
                    </div>
                </div>

                <br/-->

                <label for='inputEquipo' class='col-md-12'>Equipo</label>
                <div class='form-group col-md-12'>
                    <select 
                        class='custom-select'
                        id='inputEquipo'
                        required 
                        name='equipo' 
                        [(ngModel)]='eventModel.equipo' 
                        #equipo="ngModel"
                    >
                        <option selected value="0">Seleccione un equipo</option>
                        <option *ngFor="let equipo of equipos" value='{{equipo.nombreEquipo[0].idEquipo}}'>
                            {{equipo.nombreEquipo[0].nombre}}
                        </option>
                    </select>
                </div>
        
                <br/>
                
                <label for='inputFechaTarea' class='col-md-12'>Fecha del evento</label>
                <div class='row offset-md-0' id='inputFechaTarea'>
                    <div class='form-group col-md-3'>
                        <input 
                            type='text' 
                            class='form-control' 
                            id='inputDiaTarea' 
                            required 
                            name='dia' 
                            [(ngModel)]='eventModel.dia' 
                            #dia="ngModel"
                            [class.is-invalid]="dia.invalid && dia.touched"
                            placeholder='Día'
                        >
                    </div>
                    
                    <div class="col-md-3">
                        <select 
                            class="custom-select"
                            id='inputMesTarea'
                            name='mes' 
                            [(ngModel)]='eventModel.mes' 
                            #mes="ngModel"
                        >
                            <option selected value="0">Mes</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
            
                    <div class='form-group col-md-3'>
                        <input 
                            type='text' 
                            class='form-control' 
                            id='inputAnioTarea' 
                            required 
                            name='anio' 
                            [(ngModel)]='eventModel.anio' 
                            #anio="ngModel"
                            [class.is-invalid]="anio.invalid && anio.touched"
                            placeholder='Año'
                        >
                    </div>
                    
        
                    <div class="custom-control custom-switch col-md-3 mt-2">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            id="sinFecha"
                        >
                        <label class="custom-control-label" for="sinFecha">Sin fecha</label>
                    </div>
                </div>
        
                <label for='inputHoraEvento' class='col-md-12'>Hora del evento</label>
                <div class='row offset-md-0' id='inputHoraEvento'>
                    <div class='form-group col-md-2'>
                        <input 
                            type='text' 
                            class='form-control' 
                            id='inputHora' 
                            required 
                            name='hora' 
                            [(ngModel)]='eventModel.hora' 
                            #hora="ngModel"
                            [class.is-invalid]="hora.invalid && hora.touched"
                            placeholder='Hora'
                        >
                    </div>
                    
                    <div class='form-group col-md-2'>
                        <input 
                            type='text' 
                            class='form-control' 
                            id='inputMinuto' 
                            required 
                            name='minuto' 
                            [(ngModel)]='eventModel.minuto' 
                            #minuto="ngModel"
                            [class.is-invalid]="minuto.invalid && minuto.touched"
                            placeholder='Minuto'
                        >
                    </div>
                    
                    <div class="custom-control custom-switch col-md-8 mt-2">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            id="sinHora"
                        >
                        <label class="custom-control-label" for="sinHora">Sin Hora</label>
                    </div>
                </div>
        
                <label for='inputCategoria' class='col-md-12 pt-2'>Categoría</label>
                <div class='row offset-md-0'>
                    <div class='col-md-9'>
                        <select 
                            class='custom-select'
                            id='inputCategoria'
                            required 
                            name='categoria' 
                            [(ngModel)]='eventModel.categoria' 
                            #categoria="ngModel"
                        >
                            <option selected value="0">Seleccione una categoría</option>
                            <option *ngFor="let categoria of categorias" value='{{categoria.idCategoria[0].idCategoria}}'>
                                {{categoria.nombreCategoria[0].nombreCategoria}}
                            </option>
                        </select>
                    </div>
            
                    <div class="custom-control custom-switch col-md-3 mt-2">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            id="sinCategoria"
                        >
                        <label class="custom-control-label" for="sinCategoria">Sin categoría</label>
                    </div>
                </div>
        
                <!--label for='inputColaboradores' class='col-md-12 pt-3'>Colaboradores</label>
                <div class='row offset-md-0'>
                    <div class='col-md-9'>
                        <select 
                            class='custom-select'
                            id='inputColaboradores'
                            required 
                            name='encargado' 
                            [(ngModel)]='eventModel.encargado' 
                            #encargado="ngModel"
                        >
                            <option selected>Seleccione al encargado del evento</option>
                            <option *ngFor="let colaborador of colaboradores" value='{{colaborador.idColaborador[0].idColaborador}}'>
                                {{colaborador.nombreColaborador[0].nombre}} {{colaborador.apellidosColaborador[0].apellidos}} 
                            </option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary col-md-2">Agregar</button>
        
                    Sección con lista de colaboradores
                    
                </div-->
        
                <label for='inputPrivacidad' class='col-md-3 pt-3'>Privacidad</label>
                <div class='row offset-md-0' >
                    <div class='col-md-9'>
                        <select 
                            class='custom-select'
                            id='inputPrivacidad'
                            required 
                            name='privacidad' 
                            [(ngModel)]='eventModel.privacidad' 
                            #privacidad="ngModel"
                        >
                            <option selected value="0">Seleccione la privacidad</option>
                            <option value="1">Público</option>
                            <option value="2">Privado</option>
                        </select>
                    </div>
                </div>
        
                <div class='form-group col-md-12 pt-3'>
                    <label for='inputDescripcionEvento'>Descripción de tarea</label>
                    <input type='text' 
                        class='form-control' 
                        id='inputDescripcionEvento'
                        name='descripcion' 
                        [(ngModel)]='eventModel.descripcion' 
                        #descripcion="ngModel"
                        placeholder='(Opcional)'
                    >
                </div>
        
                <div class='form-group col-md-12 pt-2'>
                    <label for='inputEnlace'>Enlace de videoconferencia</label>
                    <input 
                        type='text' 
                        class='form-control' 
                        id='inputEnlace'
                        required
                        name='enlace' 
                        [(ngModel)]='eventModel.enlace' 
                        #enlace="ngModel"
                        placeholder='Inserte aquí el link de la videoconferencia'
                        [class.is-invalid]="enlace.invalid && enlace.touched"
                    >
                </div>

                <br/>
        
                <div class='btn-group d-flex col-md-6 offset-md-3'>
                    <button 
                        type="submit" 
                        class="btn btn-primary"
                    >Modificar evento</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>
