<app-navigation-home></app-navigation-home>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" >
                <app-sidebar></app-sidebar>
            </div>

            <div class="col-md-9" id="espacio">
                <div class="row">
                    <div class= "col s-12" id="espacio">
                        <h1>Mi perfil</h1>
                        <br>
                        <div class="text-center" >
                            <img id="cuadro"  src="../../../assets/easter-bunny.png" width="100px" height="100px" class="img-fluid">
                            
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class= "col-md-6" id="espacio"></div>
                </div>  
                <div class="row">
                    <div class="col-md-5">
                        <ul>
                            <li>Nombres:</li>
                            <p class="tabulacion" > {{datos[0].nombre}}</p>
                            <li>Apellidos:</li>
                            <p class="tabulacion"> {{datos[0].apellidos}}</p>
                            <li>Correo:</li>
                            <p class="tabulacion">{{datos[0].email}}</p>

                        </ul>
                        <a href="" class="btn btn-info btn-block" style="width: 100px;"> editar</a>
                    </div>
                    <div class="col-md-1"></div>
                    <div id="cuadro" class="col-md-5 text-center">
                        <!-- lo que sigue, se generará solo una vez que tengamos conexion con el servidor, esto es solo un ejemplo\-->
                       <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                    <div class="card-header">
                                        {{amigos[0].nombre}}
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                <div class="card-header">
                                    {{amigos[1].nombre}}
                                </div> 
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                    <div class="card-header">
                                        {{amigos[2].nombre}}
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                <div class="card-header">
                                    {{amigos[3].nombre}}
                                </div> 
                            </div>
                            </div>
                        </div>
                       
                            <div class="col-md-12">
                                <a routerLink="/register" class="float-right">Mostrar todos</a> 
                            </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<app-footer></app-footer>