<app-navigation-home></app-navigation-home>
    <div  class="container-fluid">
        <div class="row">
            <div class="col-md-3" >
                <app-sidebar></app-sidebar>
            </div>
            <!--Muestro la imagen de perfil-->
            <div class="col-md-9" id="todoContenido">
                <div class="row">
                    <div class= "col-md-5" id="espacio">
                        <h1>Mi perfil</h1>
                        <br>
                        <div class="text-center" >
                            <img id="cuadro"  src="{{foto}}" width="100px" height="100px" class="img-fluid">
                            
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class= "col-md-6" id="espacio" *ngIf="!modoEdicion">
                    </div>
                    <!--muestra la primera tanda de imágenes, cuando se está en modo edición-->
                    <div class= "col-md-6 text-bottom" id="espacio" *ngIf="modoEdicion" >
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>Seleccione una imágen de perfil.</p>  
                    </div>
                </div> 
                <!--termino de mostrar la imagen de perfil y comienzo a mostrar los datos--> 
                <div class="row">
                    <!--muestra los datos del usuario-->
                    <div class="col-md-5" id="margenbottom" *ngIf="!modoEdicion">
                        <ul>
                            <li>Nombres:</li>
                            <p class="tabulacion" > {{nuevosDatos.nombre}}</p>
                            <li>Apellidos:</li>
                            <p class="tabulacion"> {{nuevosDatos.apellidos}}</p>
                            <li>Correo:</li>
                            <p class="tabulacion">{{nuevosDatos.email}}</p>

                        </ul>
                        <button id="boton" [disabled]="false" class="btn btn-primary"(click)="editar()" id="botonEditar">Editar</button>
                    </div>
                    <!--al entrar  a modo edicion se activa este formulario-->
                    <div class="col-md-5" *ngIf="modoEdicion" id="margenbottom">
                        
                        <form (ngSubmit)="onSubmit()" #editForm="ngForm" novalidate>
                            
                            <div class="form-group">
                              <label for="nombre">Nombre</label> 
                              <input id="nombre" name="nombre" [(ngModel)]="nuevosDatos.nombre" #nombre="ngModel"  type="text" required nombre class="form-control" [class.is-invalid]="nombre.invalid && nombre.touched">
                              <small
                              class="text-danger"
                              [class.d-none]="nombre.valid || nombre.untouched"
                              >Por favor, ingrese nombre</small>
                            </div>

                            <div class="form-group">
                              <label for="apellidos">Apellidos</label> 
                              <input id="apellidos" name="apellidos" [(ngModel)]="nuevosDatos.apellidos" #apellidos="ngModel" type="text" required apellidos class="form-control" [class.is-invalid]="apellidos.invalid && apellidos.touched">
                              <small class="text-danger"
                                    [class.d-none]="apellidos.valid || apellidos.untouched"
                                    >Por favor, ingrese apellidos</small>
                            </div>

                            <div class="form-group">
                              <label for="email">Email</label> 
                              <input id="email" name="email" [(ngModel)]="nuevosDatos.email" required email type="email" #email = "ngModel" required="true" class="form-control" [class.is-invalid]="email.invalid && email.touched" >
                              
                              <small
                              class="text-danger"
                              *ngIf="email.errors && email.errors.required && email.touched"
                              >Por favor, ingrese correo electrónico</small>
                            <!-- No valido -->
                            <small
                              class="text-danger"
                              *ngIf="email.errors && email.errors.email && email.touched"
                              >El correo ingresado no es válido</small
                            >
                            </div> 
                            <div class="form-group">
                              <button id="boton" name="submit" [disabled]="editForm.form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                              
                              <button id="boton" name="Cancelar" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
                            </div>
                          </form>
                    </div>

                    <div class="col-md-1" *ngIf="!modoEdicion">
                    </div>



                    <!--muestro a los amigos-->
                    <div id="cuadro" class="col-md-5 text-center" *ngIf="!modoEdicion">
                        <!-- lo que sigue, se generará solo una vez que tengamos conexion con el servidor, esto es solo un ejemplo\-->
                        <h1>Amigos</h1>
                        <br>
                        <div class="row" *ngIf="amigos">
                            <div class="col-md-6 " *ngIf="amigos[0]" >
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="{{ProfileService.fotoPerfil(amigos[0].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                    <div class="card-header">
                                        <a routerLink="/perfiles/{{amigos[0].idColaborador}}" > {{amigos[0].nombre}} </a>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="amigos[1]">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="{{ProfileService.fotoPerfil(amigos[1].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                <div class="card-header">
                                    <a routerLink="/perfiles/{{amigos[1].idColaborador}}" > {{amigos[1].nombre}} </a>
                                </div> 
                            </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="amigos">
                            <div class="col-md-6" *ngIf="amigos[2]">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="{{ProfileService.fotoPerfil(amigos[2].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                    <div class="card-header">  
                                        <a routerLink="/perfiles/{{amigos[2].idColaborador}}" > {{amigos[2].nombre}} </a>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="amigos[3]">
                                <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                    <div class="card-body">
                                        <img  src="{{ProfileService.fotoPerfil(amigos[3].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                <div class="card-header"> 
                                    <a routerLink="/perfiles/{{amigos[3].idColaborador}}" > {{amigos[3].nombre}} </a>
                                </div> 
                            </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="amigos">
                            <div class="col-md-12" *ngIf="amigos.length>=5">
                                <a routerLink="/Amigos" class="float-right">Mostrar todos</a> 
                            </div>
                        </div>
                            
                    </div>
                    <!-- muestra la segunda tanda de imágenes, cuando se está en modo edicion-->
                    <div class="col-md-6" *ngIf="modoEdicion">
                        <div class="row">
                            <div class="col-md-3 " (click)="cambiarFoto(0)">
                                <div class="card text-center" >
                                    <div class="card-body">
                                        <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(1)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/bicycle-5.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(2)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/cat-3.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(3)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/customer-4.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 " (click)="cambiarFoto(4)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/turtle.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(5)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/horse-24.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(6)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/iconmonstr-easter-19.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(7)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/school-26.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-md-3 " (click)="cambiarFoto(8)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/school-27.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(9)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/tree-8.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3 " (click)="cambiarFoto(10)">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img  src="../../../assets/fish-2.svg" width="70px" height="70px" class="img-fluid">
                                    </div>  
                                </div>
                            </div>
                         </div>
                
                    </div>
                </div>
            </div>

    </div>
</div>

<app-footer></app-footer>