<app-navigation-home></app-navigation-home>

<h1 class="pt-4 text-left" *ngIf="nombreUsuario">Bienvenido a Feedbakh, {{nombreUsuario}} <i class="far fa-grin-beam"></i></h1>

<div id="equipo" class="container text-center" *ngFor="let equipo of equipos">
    
    <h2><a href="/home">Equipo: {{equipo.nombreEquipo[0].nombre}}</a></h2>

    <h3> Tareas </h3>
    <span *ngIf="equipo.tareas.length">
        <div class="indice"><span id="indices"> Nombre </span> <span id="indices">Fecha </span> <span id="indicecategoria">Categoría</span></div>
        <div *ngFor="let tarea of equipo.tareas">
            <a href="/home">{{tarea.nombre}}</a>
            <span> {{tarea.date}}</span>
            <span> {{tarea.nombreCategoria}}</span>
        </div>
    </span>
    <span *ngIf="!equipo.tareas.length">
        Sin Tareas
    </span>

    <h3> Eventos </h3>
    <span *ngIf="equipo.eventos.length">
        <div>Nombre | Fecha | Categoría </div>
        <div *ngFor="let evento of equipo.eventos">
            <a href="/home">{{evento.nombre}}</a>
            <a> {{evento.date}}</a>
            <a> {{evento.nombreCategoria}}</a>
        </div>
    </span>
    <span *ngIf="!equipo.eventos.length">
        Sin Eventos
    </span>
</div>

<app-footer></app-footer>