
h1{
    padding-left: 24px;
}

#equipo{
    border: 6px solid rgb(95, 93, 93);
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2{
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top:20px;
    background-color: #f9d3f2;
    font-weight: bold;
}
h2 a{
    text-decoration: none;
    color:rgb(102, 124, 123);
}
h2 a:hover{
    color:rgb(255, 255, 255);
}

h3{
    border-bottom: 2px solid gray;
    padding: 10px 0 10px 0;
    background-color: #f9d3f2;
    margin-bottom: 0;
}

.indice{
    border-bottom:2px solid gray;
}

#indicecategoria,#indiceNombre,#indiceFecha{
    font-size: 25px;
    display:inline-block;
    padding: 10px 0 10px 10;
}

#superior{
    background-color:rgb(189, 189, 189);
    color:white;
}

#indiceNombre{
    width: 35%;
    text-align: center;
    border-right: 2px solid gray;
    text-decoration: none;
}
#indiceFecha{
    width: 30%;
    text-align: center;
    border-right: 2px solid gray;
    
}
#indicecategoria{
    width: 35%;
    text-align: center;
}
#noequipo h1{
    font-size: 30px;
}
#noequipo a{
    text-decoration: none;
    font-size: 25px;
}
#noequipo{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 21.6%;
}

#todoContenido{
    min-height: 498px;
}