nav{
    border-bottom: 3px solid gray;
    background-color: #f9d3f2;
}

#logo{
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
    font-size: 20px;
}
#logo img{
    width: 70px;
}
a:hover{
    cursor: pointer;
}
h1{
    padding-left: 24px;
}


ul, ol {
    list-style:none;
}

#navbarNav > li {
    float:left;
}


#navbarNav li ul {
    display:none;
    position:absolute;
    min-width:50px;
}

#navbarNav li:hover > ul {
    display:block;
}

#navbarNav ul li ul li a{
    position:relative;
    color:white;
}
#navbarNav ul li ul li a:hover{
    color:gray;
    text-decoration: none;
}
#navbarNav ul li ul li{
    padding-top: 15px;
    padding-bottom: 15px;
}

#equipos{
    background-color: rgb(231, 170, 170);
    width: 140px;
    padding-left: 30px;
}
