<app-navigation-home></app-navigation-home>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" >

        </div>

        <div class="col-md-9" id="todoContenido">
            <div class="row">
                <div class= "col s-12" id="espacio">
                    <h1>Perfil</h1>
                    <br>
                    <div class="text-center" >
                        <img id="cuadro"  src="{{elegirFoto(datos[0].fotoPerfil)}}" width="100px" height="100px" class="img-fluid">
                        
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class= "col-md-6" id="espacio">
                    <button [disabled]="false" *ngIf="boton==0" class="btn btn-primary" id="botonAmistad" (click)="agregarAmigo()">Enviar solicitud</button>
                    <button [disabled]="false" *ngIf="boton==3" class="btn btn-primary" id="botonAmistad" (click)="eliminarSolicitud()">Eliminar solicitud</button>
                    <button [disabled]="false" *ngIf="boton==1" class="btn btn-primary" id="botonAmistad" (click)="eliminarAmigo()">Eliminar amistad</button>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>Nombres:</li>
                        <p class="tabulacion" > {{datos[0].nombre}}</p>
                        <li>Apellidos:</li>
                        <p class="tabulacion"> {{datos[0].apellidos}}</p>
                        <li>Correo:</li>
                        <p class="tabulacion">{{datos[0].email}}</p>

                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 text-center" id="cuadro">
                    <div class="row">
                        <div class="col-md-6 " *ngIf="amistades[0]" >
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="{{ProfileService.fotoPerfil(amistades[0].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                </div>  
                                <div class="card-header">
                                    <a href="/perfiles/{{amistades[0].idColaborador}}" > {{amistades[0].nombre}} </a>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="amistades[1]">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="{{ProfileService.fotoPerfil(amistades[1].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                </div>  
                            <div class="card-header">
                                <a href="/perfiles/{{amistades[1].idColaborador}}" > {{amistades[1].nombre}} </a>
                            </div> 
                        </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6" *ngIf="amistades[2]">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="{{ProfileService.fotoPerfil(amistades[2].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                </div>  
                                <div class="card-header">  
                                    <a href="/perfiles/{{amistades[2].idColaborador}}" > {{amistades[2].nombre}} </a>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="amistades[3]">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="{{ProfileService.fotoPerfil(amistades[3].fotoPerfil)}}" width="70px" height="70px" class="img-fluid">
                                </div>  
                            <div class="card-header"> 
                                <a href="/perfiles/{{amistades[3].idColaborador}}" > {{amistades[3].nombre}} </a>
                            </div> 
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

</div>
</div>

<footer><app-footer></app-footer></footer>
