<app-navigation-home></app-navigation-home>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" >

        </div>

        <div class="col-md-9" id="todoContenido">
            <div class="row">
                <div class= "col s-12" id="espacio">
                    <h1>Perfil</h1>
                    <br>
                    <div class="text-center" >
                        <img id="cuadro"  src="../../../assets/easter-bunny.png" width="100px" height="100px" class="img-fluid">
                        
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class= "col-md-6" id="espacio">
                    <button [disabled]="false" *ngIf="boton==0" class="btn btn-primary" id="botonAmistad" (click)="agregarAmigo()">Enviar solicitud</button>
                    <button [disabled]="false" *ngIf="boton==3" class="btn btn-primary" id="botonAmistad" (click)="eliminarSolicitud()">Eliminar solicitud</button>
                    <button [disabled]="false" *ngIf="boton==1" class="btn btn-primary" id="botonAmistad" (click)="eliminarAmigo()">Eliminar amistad</button>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>Nombres:</li>
                        <p class="tabulacion" > {{datos[0].nombre}}</p>
                        <li>Apellidos:</li>
                        <p class="tabulacion"> {{datos[0].apellidos}}</p>
                        <li>Correo:</li>
                        <p class="tabulacion">{{datos[0].email}}</p>

                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div id="cuadro" class="col-md-5 text-center">
                    <!-- lo que sigue, se generará solo una vez que tengamos conexion con el servidor, esto es solo un ejemplo\-->
                    <h1>Amigos</h1>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                </div>  
                                <div class="card-header">
                                    Rodrigo
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                </div>  
                            <div class="card-header">
                                <a href="#" > Juan </a>
                            </div> 
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                </div>  
                                <div class="card-header">
                                    Catalina
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center" style="max-width: 130px; max-height: 140px;">
                                <div class="card-body">
                                    <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                </div>  
                            <div class="card-header">
                              Felipe
                            </div> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>

<footer><app-footer></app-footer></footer>
