<app-navigation-home></app-navigation-home>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p>si agrego cosas aquí, aparecen en otro lado</p>
            <p>buscar colaboradores</p>
            <p>solicitudes de colaboradores</p>
            <p> crear grupos de trabajo</p>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class= "col s-12">
                    <h1>Mi perfil</h1>
                    <br>
                    <div class="text-center" >
                        <img  src="../../../assets/easter-bunny.png" width="90px" height="90px" class="img-fluid">
                        <br>
                        <br>
                    </div>
                </div>
                <div class= "col-md-6"></div>
            </div>  
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Nombres:</li>
                        <p class="tabulacion"> Insertar Nombre</p>
                        <li>Apellidos:</li>
                        <p class="tabulacion"> Insertar Apellido</p>
                        <li>Correo:</li>
                        <p class="tabulacion">Insertar Correo</p>

                    </ul>
                    <p>Editar</p>
                </div>

                <div id="cuadro" class="col-md-6">
                    <!-- lo que sigue, se generará solo una vez que tengamos conexion con el servidor, esto es solo un ejemplo\-->
                    <div class="col">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col"> 
                                <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                <p id="centrado">amigo 1</p>
                                <br>
                            </div>
                            
                            <div class="col">
                                <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                <p id="centrado" >amigo 2</p>
                                <br>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class= "row">
                            <div class="col-2">
                            </div>
                            <div class="col"> 
                                <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                <p id="centrado">amigo 3</p>
                            </div>
                            
                            <div class="col">
                                <img  src="../../../assets/easter-bunny.png" width="70px" height="70px" class="img-fluid">
                                <p id="centrado">amigo 4</p>
                            </div>
                            <div class="col-1"></div> 
                        </div>
                        <div class="row">
                            <p id="centrado">Ver más</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            
        </div>

    </div>
</div>

<footer><app-footer></app-footer></footer>
