/* general */

h1{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

h6{
    font-size: 12px;
} 

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


/* izquierda */

#izq {
    width: 65%;
    float: left;
    padding-left: 2%;
    padding-right: 5%;
}

#izq2 {
    background-color: #fcc3c3;
    align-self: center;
}

#sec_tareas{
    padding-left: 5%;
    padding-right: 5%;
}

#sec_tareas2{
    background-color:#ff000031;
    align-self: center;
}


/* derecha */

#der {
    width: 35%;
    background-color: #aaaaaa;
    float: right;
}

#solic_eventos{
    background-color: gray;
}

#eventos{
    background-color: gray;
}

