<app-navigation-home></app-navigation-home>

<section>

    <!-- Lado izquierdo -->

    <section id="izq">
        <aside id="izq2">

            <!-- Equipos -->
            <div>
 
                <br/>
                <h1 class="text-center">{{nombre_team}}</h1>  
                <br/>

                <h1 class='text-center'>Equipos <button>+</button></h1>
                <!--form (ngSubmit)="getTeamData()" #registerForm="ngForm"-->
                    <div class='form-group'>
                        <select 
                            class="custom-select col-md-4 offset-md-4"
                            [(ngModel)]="selectedTeam"
                        >
                            <option selected value="0">Todos los equipos</option>
                            <option *ngFor="let equipo of equipos" value={{equipo.nombreEquipo[0].idEquipo}}>
                                {{equipo.nombreEquipo[0].nombre}}
                            </option>
                        </select>
                        <button (click)="getTeamData()">Filtrar</button>
                    </div>
                <!--/form-->

                <br/>

            </div>

            <!-- Tareas -->
            <h1 class='text-center'>Tareas <button>+</button></h1> 
            <div id="sec_tareas">
                <div id='sec_tareas2'>

                    <div *ngFor="let tarea of tareas" value='{{tarea.idTarea}}'>
                        <div id="sec_tareas3">
                            <div id="nombre_tarea">{{tarea.nombre}}</div>
                            <br/>
                            <div><b>Descripción:</b> {{tarea.descripcion}}</div>
                            <br/>
                            <div *ngIf="tarea.fecha != null"> <b>Fecha finalización:</b> {{tarea.fecha}} </div> 
                            <div *ngIf="tarea.fecha == null"> <b>Fecha finalización:</b> Sin fecha limite </div>
                            <br/>
                            <div><b>Encargado tarea:</b>{{tarea.encargado}}</div>
                            <button>Completado</button> <button>Modificar</button> <button>Eliminar</button>
                        </div>
                        <br/>
                    </div>
                    

                </div>
            </div>

        </aside>
        

    </section>
    
    <!-- Separación -->
    <div class="col-md-1"></div>

    <!-- Lado derecho -->

    <aside id="der">
        <!-- Solicitudes -->
        <h1 class='text-center'>Solicitudes de eventos</h1>
        <div>
            <h1 class='text-center' id='solic_eventos'>--PROXIMAMENTE--</h1>
        </div>
        
        <br/>

        <!-- Eventos -->
        <h1 class='text-center'>Eventos <button>+</button></h1>
        <div id="sec_eventos">
            <div id='sec_eventos2'>

                <div *ngFor="let evento of eventos" value='{{evento.idEvento}}'>
                    <div id="sec_eventos3">
                        <div id="nombre">{{evento.nombre}}</div>
                        <br/>
                        <div><b>Descripción:</b> {{evento.descripcion}}</div>
                        <br/>
                        <div *ngIf="evento.fecha != null"> <b>Fecha finalización:</b>  {{evento.fecha}} </div>
                        <div *ngIf="evento.fecha == null"> <b>Fecha finalización:</b>  Sin fecha limite </div>
                        <br/>
                        <button>z</button>
                    </div>
                    <br/>
                </div>
                

            </div>
        </div>
    </aside>

</section>

<app-footer></app-footer>