/* general */

h1{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

h6{
    font-size: 12px;
} 

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


/* izquierda */

#izq {
    width: 65%;
    float: left;
    padding-left: 2%;
    padding-right: 5%;
    height: 100%;
}

#izq2 {
    /*background-color: #fcc3c3;*/
    align-self: center;
    padding-top: 5%;
}

#nombre{
    text-align:center;
}

#sec_tareas{
    padding-left: 5%;
    padding-right: 5%;
}

#sec_tareas2{
    /*background-color:#ff000031;*/
    align-self: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

#sec_tareas3{
    background-color:#ffc5c5;
    float: center;
    color: black;
    text-decoration-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


/* derecha */

#der {
    width: 35%;
    /*background-color: #aaaaaa;*/
    float: right;
    padding-top: 3%;
    height: 100%;
}

/*#solic_eventos{
    background-color: gray;
}*/

#sec_eventos{
    padding-left: 5%;
    padding-right: 5%;
}

#sec_eventos2{
    /*background-color:#5554545e;*/
    align-self: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

#sec_eventos3{
    background-color:#ffc5c5;
    float: center;
    color: black;
    text-decoration-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#todoContenido{
    min-height: 78vh;
}

#espacioBoton{
    margin-left: 10px;
}

#botonRedondo{
    margin-left: 10px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    height: 25px; 
    width: 25px;
    padding: 0px;
}
