<app-navigation-home></app-navigation-home>

<div class="container-fluid" id="todoContenido">
  <!-- Lado izquierdo -->

  <section id="izq">
    <aside id="izq2">
      <!-- Equipos -->
      <div class="text-center card p-4">
        <h5>
        <b>Equipo actual: </b> 
        {{nombre_team}}
          <i id="botonNoBoton" *ngIf="team_owner_checker != 0" 
          (click)="eliminarEquipo()" class="fa fa-trash"></i><br>
        </h5>
        <div class="text-center" *ngIf="team_owner_checker != 0">
          <h6>Usted es encargado de este equipo
          </h6>
        </div>
        {{objetivo_team}}
      </div>
      <br>
      <div>
        <!--ver otro equipo-->
        <h2 class="text-center">
          <h4>Ver otro equipo
            <button id=botonRedondo class="btn btn-primary text-center" (click)="crearEquipo()">
              <i  class="fas fa-plus"></i>
            </button>
          </h4>
        </h2>
        
        <div class="form-group">
          <select
            class="custom-select col-md-4 offset-md-4"
            [(ngModel)]="selectedTeam"
          >
            <option
              *ngFor="let equipo of equipos"
              value="{{ equipo.nombreEquipo[0].idEquipo }}"
            >
              {{ equipo.nombreEquipo[0].nombre }}
            </option>
          </select>
          <button id="espacioBoton" class="btn btn-primary" (click)="getTeamData()">
            Filtrar
          </button>
          
        </div>
        <br>
        <div class="form-group" *ngIf="team_owner_checker != 0">
          <h4 class="text-center">Añadir miembro</h4>
          <select
            class="custom-select col-md-4 offset-md-4"
            [(ngModel)]="member_selector"
          >
            <option selected value="0">Seleccione un colaborador</option>
            <option
              *ngFor="let colaborador of colaboradores"
              value="{{ colaborador.idColaborador[0].idColaborador }}"
            >
              {{ colaborador.nombreColaborador[0].nombre }}
              {{ colaborador.apellidosColaborador[0].apellidos }}
            </option>
          </select>
            <i class="btn btn-primary"
            (click)="addMember()"
            id="botonNoBoton"
            class="fa fa-user-plus"></i>
        </div>
        <br />
      </div>

      <!-- Tareas -->
      <h2 class="text-center">
        Tareas
        <button
          class="btn btn-primary"
          *ngIf="team_owner_checker != 0"
          (click)="addTask()"
          id="botonRedondo"
        >
          <i class="fas fa-plus"></i>
        </button>
      </h2>
      <div id="sec_tareas">
        <div id="sec_tareas2">
          <div *ngIf="tareas == null" class="text-center">
            Este equipo aún no tiene tareas asignadas
          </div>

          <div *ngFor="let tarea of tareas" value="{{ tarea.idTarea }}">
            <div class="card p-3" id="sec_tareas3">
              <div class="text-center" id="nombre_tarea">
                <h5>{{ tarea.nombre }}</h5>
                
              </div>
              <br />
              <div>
                <b>Categoría:</b> {{ getNombreCategoria(tarea.idCategoria) }}
              </div>
              <div><b>Descripción:</b> {{ tarea.descripcion }}</div>
              <div *ngIf="tarea.fecha != null">
                <b>Fecha finalización:</b> {{ getFecha(tarea.fecha) }}
              </div>
              <div *ngIf="tarea.fecha == null">
                <b>Fecha finalización:</b> Sin fecha limite
              </div>
              <br />

              
              <div>
                <b>Encargado:</b> {{ getNombreEncargadoTarea(tarea.idTarea) }} 
              </div>

              <div *ngIf="tarea.completado == 0"><br/><b>Estado: </b>Pendiente</div>
              <div *ngIf="tarea.completado == 1"><br/><b>Estado: </b>Completado</div>
              <br />
              

              <div class="pt-4" *ngIf="team_owner_checker != 0">
                <button
                  *ngIf="tarea.completado == 0"
                  class="btn btn-success"
                  (click)="setCompletado(tarea.idTarea)"
                >
                  Completar
                </button>
                <button
                  *ngIf="tarea.completado == 1"
                  class="btn btn-warning"
                  (click)="setNoCompletado(tarea.idTarea)"
                >
                  Deshacer
                </button>
                <button
                  class="btn btn-info"
                  id="espacioBoton"
                  (click)="modTask(tarea.idTarea)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-secondary"
                  (click)="banTask(tarea.idTarea)"
                  id="espacioBoton"
                >
                  Eliminar
                </button>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </aside>
  </section>

  <!-- Separación -->
  <div class="col-md-1"></div>

  <!-- Lado derecho -->

  <aside id="der">
    <!-- Miembros equipo -->
    <div class="p-4">
    <h2 class="text-center">Miembros del equipo</h2>
    <div
      *ngFor="let miembro of colaboradores_team"
      value="{{ miembro.idColaborador }}"
    >
      <div>
        <div *ngIf="team_owner_checker != 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <i id="botonNoBoton" (click)=expulsarMiembro(miembro.idColaborador,miembro.nombre,miembro.apellidos) class="fa fa-user-times"></i> 
          {{ miembro.nombre }} {{ miembro.apellidos }}
        </ng-template>
        <ng-template #elseBlock>
          <li style="margin-left: 10px;"> {{ miembro.nombre }} {{ miembro.apellidos }}</li>
        </ng-template>
          
         
      </div>
    </div>
  </div>

    <br />

    <!-- Eventos -->
    <h2 class="text-center">
      Eventos
      <button
        class="btn btn-primary"
        *ngIf="team_owner_checker != 0"
        (click)="addEvent()"
        id="botonRedondo"
      >
        <i class="fas fa-plus"></i>
      </button>
    </h2>
    <div id="sec_eventos">
      <div id="sec_eventos2">
        <div *ngIf="eventos == null" class="text-center">
          Este equipo no tiene eventos futuros
        </div>

        <div *ngFor="let evento of eventos" value="{{ evento.idEvento }}">
          <div class="card p-3" id="sec_eventos3">
            <div id="nombre">
              <h5>{{ evento.nombre }}</h5>
            </div>
            <br />
            
            <br />
            <div><b>Descripción:</b> {{ evento.descripcion }}</div>
            <div *ngIf="evento.fecha != null">
              <b>Fecha:</b> {{ getFecha(evento.fecha) }}
            </div>
            
            <div *ngIf="evento.fecha == null"><b>Fecha:</b> Sin fecha</div>
            <div *ngIf="evento.hora != null && evento.hora != ''"> <b>Hora:</b>  {{getHora(evento.idEvento)}} </div>
            <div *ngIf="evento.hora == null || evento.hora == ''"> <b>Hora:</b>  Sin hora </div>
            <br />

            <div>
              <b>Participantes:</b> {{ getNombresEncargadosEvento(evento.idEvento) }} 
            </div>

            <div>
              <br/>
              <b>Link: </b
              ><a
                href="{{ evento.enlaceVideoconferencia }}"
                style="color: #435eff"
                >{{ evento.enlaceVideoconferencia }}</a
              >
            </div>

            <div class="pt-4" *ngIf="team_owner_checker != 0">
              <button
                class="btn btn-info"
                (click)="modEvent(evento.idEvento)"
                id="espacioBoton"
              >
                Editar
              </button>
              <button
                class="btn btn-secondary"
                (click)="banEvent(evento.idEvento)"
                id="espacioBoton"
              >
                Eliminar
              </button>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </aside>
</div>

<app-footer></app-footer>
