<app-navigation></app-navigation>


<div class="row" style="width: 100%;">
    <div class="col-md-7">
        <h1 class="text-center">FEEDBAKH</h1>
        <p class="col-md-8 offset-md-2 text-center">Organiza todo en un mismo lugar y permite que colaboren contigo.</p>
        <button type="button" class="btn btn-secondary col-md-4 offset-md-4 pt-3 pb-3" id="registrate" routerLink="/register">
            Regístrate ahora
        </button>
        <div class="offset-md-2 pt-3"> 
            <p><i class="fas fa-check"></i> Todas tus tareas en un solo lugar</p>
            <p><i class="fas fa-check"></i> Crea tus propios equipos</p>
            <p><i class="fas fa-check"></i> Conecta con tus amigos y compañeros de trabajo</p>
        </div>
    </div>
    <div class="col-md-5 pt-5">
        <div class="text-center">
            <img src="../../../assets/logo_feedbakh.png" class="card-img-top">
        </div>
    </div>
</div>
