h1{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h6{
    
    
    font-size: 30px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color:black;
}

#fondo{
    background-color: rgb(255, 235, 235);
    align-self: center;
    margin-left: 30%;
    margin-top: 10px;
}
