<app-navigation-home></app-navigation-home>
    
<div>
  <div id="bloque">
      <div class="card" id="fondo">
          <div class="card-body">
              <h1>Crear equipo de trabajo</h1>
              <br>
              <form (ngSubmit)="onSubmit()" #equipoForm="ngForm" novalidate>
                  <div class="form-group">
                    <label for="nombre">Nombre del equipo</label> 
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-group"></i>
                        </div>
                      </div> 
                      <input id="nombre" required name="nombre" [(ngModel)]="nuevoEquipo.nombre" type="text" #nombre="ngModel" class="form-control" [class.is-invalid]="nombre.invalid && nombre.touched">
                    </div>
                    <small
                        class="text-danger"
                        [class.d-none]="nombre.valid || nombre.untouched"
                        >Por favor, ingrese un nombre de equipo</small>
                  </div>
                  <div class="form-group">
                    <label for="objetivo">Objetivo del equipo</label> 
                    <textarea id="objetivo" required name="objetivo"  [(ngModel)]="nuevoEquipo.objetivo" cols="20" rows="10" #objetivo="ngModel" class="form-control" [class.is-invalid]="objetivo.invalid && objetivo.touched"></textarea>
                  </div>
                  <small
                  class="text-danger"
                  [class.d-none]="objetivo.valid || objetivo.untouched"
                  >Por favor, ingrese una descripción</small>
                  <div class="form-group" >
                    <br>
                    <button type="submit" [disabled]="equipoForm.form.invalid" class="btn btn-primary">Crear Equipo</button>
                    <button type="button" class="btn btn-danger" (click)="cancelar()" style="margin-left: 20px;">Cancelar</button>
                  </div>
              </form>
          </div>
      </div>
      
  </div>

</div>
   
<app-footer></app-footer>