<app-navigation-home></app-navigation-home>
<div id="todoContenido" class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div id="espacio" class="col-md-12 text-center">
            <h1>Todas las amistades</h1>
            <a routerLink="/my-profile">Volver</a> 
        </div>
    </div>
    <div class="row">
        <div *ngFor="let amigos of amigos"  class="div col-md-7 offset-3" id="cuadro">
            <div class="row">
                <div class="col-md-2">
                    <img id="cuadro"  src="{{buscar.fotoPerfil(amigos.fotoPerfil)}}" width="100px" height="100px" class="img">
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-4">
                    <br>
                    <ul>
                        <li>{{amigos.nombre}} {{amigos.apellidos}}</li>
                        <li>{{amigos.email}}</li>
    
                    </ul>
                </div>

                <div id="espacio" class="col-md 2 text-right">
                    <br>
                    <button style="margin-right: 20%;" name="perfil"  routerLink="/perfiles/{{amigos.idColaborador}}" class="btn btn-primary">Ir al perfil</button>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>