<div class="col-md-6 offset-md-3">
  <div class="card">
    <h3 class="text-center pt-5">Registrarse</h3>
    <!-- Si existe mensaje de error se mostrará alerta -->
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
      <a class="nav-link" href="/register">
        <i class="fas fa-clipboard-list"></i>
        Volver a intentarlo
      </a>
    </div>

    <div class="card-body">
      <!-- Se exporta formulario como un ngForm -->
      <form
        class="pb-5 pl-3 pr-3"
        *ngIf="!registrado"
        (ngSubmit)="onSubmit()"
        #registerForm="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="nombre" class="control-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            required
            name="nombre"
            [(ngModel)]="registerModel.nombre"
            #nombre="ngModel"
            [class.is-invalid]="nombre.invalid && nombre.touched"
          />
          <small
            class="text-danger"
            [class.d-none]="nombre.valid || nombre.untouched"
            >Por favor, ingrese nombre</small
          >
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Apellido paterno</label>
          <input
            type="text"
            class="form-control"
            id="apellidoPaterno"
            required
            name="apellidoPaterno"
            [(ngModel)]="registerModel.apellidoPaterno"
            #apellidoPaterno="ngModel"
            [class.is-invalid]="
              apellidoPaterno.invalid && apellidoPaterno.touched
            "
          />
          <small
            class="text-danger"
            [class.d-none]="apellidoPaterno.valid || apellidoPaterno.untouched"
            >Por favor, ingrese apellido paterno</small
          >
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Apellido materno</label>
          <input
            type="text"
            class="form-control"
            id="apellidoMaterno"
            required
            name="apellidoMaterno"
            [(ngModel)]="registerModel.apellidoMaterno"
            #apellidoMaterno="ngModel"
            [class.is-invalid]="
              apellidoMaterno.invalid && apellidoMaterno.touched
            "
          />
          <small
            class="text-danger"
            [class.d-none]="apellidoMaterno.valid || apellidoMaterno.untouched"
            >Por favor, ingrese apellido materno</small
          >
        </div>
        <!-- Value se pasa en json, luego a cada input se le pone ngModel 
          **Se requiere que cada input tenga un name="" **-->
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="registerModel.email"
            required
            email
            name="email"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
          />
          <!-- ERRORES -->
          <!-- No ingresado -->
          <small
            class="text-danger"
            *ngIf="email.errors && email.errors.required && email.touched"
            >Por favor, ingrese correo electrónico</small
          >
          <!-- No valido -->
          <small
            class="text-danger"
            *ngIf="email.errors && email.errors.email && email.touched"
            >El correo ingresado no es válido</small
          >
        </div>
        <!-- CONTRASEÑA -->
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="registerModel.password"
            required
            name="password"
            #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched"
          />
          <!-- VALIDACIONES -->
          <small
            class="text-danger"
            [class.d-none]="password.valid || password.untouched"
            >Por favor, ingrese contraseña</small
          >
        </div>
        <!-- REPETIR CONTRASEÑA -->
        <div class="form-group">
          <label for="exampleInputPassword1">Repetir contraseña</label>
          <input
            type="password"
            class="form-control"
            id="repetirPassword"
            [(ngModel)]="registerModel.repetirPassword"
            required
            name="repetirPassword"
            #repetirPassword="ngModel"
            [class.is-invalid]="
              repetirPassword.invalid && repetirPassword.touched
            "
            appConfirmEqualValidator="password"
          />
          <!-- VALIDACIONES -->
          <small
            class="text-danger"
            *ngIf="repetirPassword.touched && repetirPassword.errors?.required"
            >Por favor, repita su contraseña</small
          >
          <small
            class="text-danger"
            *ngIf="repetirPassword.touched && repetirPassword.errors?.notEqual && !repetirPassword.errors?.required"
            >Las contraseñas no coinciden</small
          >
        </div>
        <button
          [disabled]="registerForm.form.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
</div>
