<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">NO HACER CLICK AQUI</a>
            </li>
            <li class="sidebar-brand">
                <a>
                    Menú personal 
                </a>
                
            </li>
            <li>
                <a href="#">Buscar colaboradores</a>
            </li>
            <li>
                <a href="#">Solicitudes de colaboradores</a>
            </li>
            <li>
                <a href="#">Crear Equipo de trabajo</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->

    