<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p>
                    Menú personal 
                </p>
                
            </li>
            <li>
                <a
                 href="buscarUsuario"><i class="fa fa-search"></i> Buscar colaborador</a>
            </li>
            <li>
                <a href="crearEquipo"><i class="fa fa-group"></i> Nuevo Equipo de trabajo</a>
            </li>
            <li >
                <a href="Notificaciones"><i class="fa fa-bell" *ngIf="mostrarNot"></i> <i class="far fa-bell" *ngIf="!mostrarNot" ></i> Solicitudes</a> <!-- si hay solicitudes, debería mostrarse este-->
            </li>
        </ul>
            
    </div>
    <!-- /#sidebar-wrapper -->
    
</div>
<!-- /#wrapper -->

<!-- <a class="btn btn-default" id="menu-toggle">NO HACER CLICK AQUI</a> -->


    