<app-navigation-home></app-navigation-home>

<div class='col-md-7'>

    <div class='pt-3'></div>

    <div class='card' id='zona_maker'>
        <h1 class='text-center pt-3'>Agregar nueva tarea</h1>

        <form
            class="pb-5 pl-3 pr-3"
            (ngSubmit)="onSubmit()"
            #registerForm="ngForm"
            novalidate
        >

            <!--h3 class='text-center pt-3'>Equipo: {{nombreteam}}</h3-->

            <div class='card-body'>
                <div class='form-group col-md-12'>
                    <label for='inputNombreTarea'>Nombre de tarea</label>
                    <input 
                        type='text'
                        class='form-control' 
                        id='inputNombreTarea' 
                        required 
                        name='nombre' 
                        [(ngModel)]='taskModel.nombre' 
                        #nombre="ngModel"
                        [class.is-invalid]="nombre.invalid && nombre.touched"
                        placeholder="(Obligatorio)"
                    >
                </div>
                
                <label for='inputEncargadoTarea' class='col-md-12'>Integrante</label>
                <div class='form-group col-md-12'>
                    <select 
                        class='custom-select'
                        id='inputEncargadoTarea'
                        required 
                        name='encargado' 
                        [(ngModel)]='taskModel.encargado' 
                        #encargado="ngModel"
                    >
                        <option selected value="0">Seleccione un encargado</option>
                        <option *ngFor="let colaborador of colaboradores" value='{{colaborador.idColaborador[0].idColaborador}}'>
                            {{colaborador.nombreColaborador[0].nombre}} {{colaborador.apellidosColaborador[0].apellidos}} 
                        </option>
                    </select>
                </div>

                <!--label for='inputEquipo' class='col-md-12'>Equipo</label>
                <div class='form-group col-md-12'>
                    <select 
                        class='custom-select'
                        id='inputEquipo'
                        required 
                        name='equipo' 
                        [(ngModel)]='taskModel.equipo' 
                        #equipo="ngModel"
                    >
                        <option selected value="0">Seleccione un equipo</option>
                        <option *ngFor="let equipo of equipos" value='{{equipo.nombreEquipo[0].idEquipo}}'>
                            {{equipo.nombreEquipo[0].nombre}}
                        </option>
                    </select>
                </div-->
                
                <label for='inputFechaTarea' class='col-md-12'>Fecha de finalización</label>
                <div class='row offset-md-0' id='inputFechaTarea'>
                    <div class='form-group col-md-3'>
                        <input 
                            type='text' 
                            class='form-control' 
                            id='inputDiaTarea' 
                            required 
                            name='dia' 
                            [(ngModel)]='taskModel.dia' 
                            #dia="ngModel"
                            placeholder='Día'
                        >
                    </div>
                    
                    <div class="col-md-3">
                        <select 
                            class="custom-select"
                            id='inputMesTarea'
                            required 
                            name='mes' 
                            [(ngModel)]='taskModel.mes' 
                            #mes="ngModel"
                        >
                            <option selected value="0">Mes</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
            
                    <div class='form-group col-md-3'>
                        <input 
                            type='text' 
                            class='form-control' 
                            id='inputAnioTarea' 
                            required 
                            name='anio' 
                            [(ngModel)]='taskModel.anio' 
                            #anio="ngModel"
                            [class.is-invalid]="anio.invalid && anio.touched"
                            placeholder='Año'
                        >
                    </div>
                    
                    <!-- HACER FUNCIONAL ESTE SWITCH!! --> 
                    <!--div class="custom-control custom-switch col-md-3 mt-2">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            id="inputSinFecha"
                            [(ngModel)]='sinFecha'
                        >
                        <label class="custom-control-label" for="inputSinFecha">Sin fecha</label>
                    </div-->
                </div>
        
                <label for='inputCategoria' class='col-md-12'>Categoría</label>
                <div class='row offset-md-0' id='inputCategoria'>
                    <div class='col-md-9'>
                        <select 
                            class='custom-select'
                            id='inputTipoCategoria'
                            name='categoria'
                            [(ngModel)]='taskModel.categoria'
                            #categoria="ngModel"
                            required
                        >
                            <option *ngFor="let categoria of categorias" value='{{categoria.idCategoria[0].idCategoria}}'>
                                {{categoria.nombreCategoria[0].nombreCategoria}}
                            </option>
                        </select>
                    </div>
                    
                    <!-- HACER FUNCIONAL ESTE SWITCH!! --> 
                    <!--div class="custom-control custom-switch col-md-3 mt-2">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            id="inputSinCategoria"
                        >
                        <label class="custom-control-label" for="inputSinCategoria">Sin categoría</label>
                    </div-->
                </div>
        
                <br/>
        
                <div class='form-group col-md-12'>
                    <label for='inputDescripcionTarea'>Descripción de tarea</label>
                    <input 
                        type='text' 
                        class='form-control mb-3' 
                        id='inputDescripcionTarea'
                        name='descripcion' 
                        [(ngModel)]='taskModel.descripcion' 
                        #descripcion="ngModel"
                        placeholder='(Opcional)'
                        rows="3"
                    >
                </div>
                
                <br/>
            </div>

            <div class='btn-group d-flex col-md-6 offset-md-3'>
                <button 
                    type="submit" 
                    class="btn btn-primary"
                >Crear tarea</button>
            </div>

        </form>
    </div>
</div>

<app-footer></app-footer>
