<app-navigation></app-navigation>

<div id="todoContenido" class="col-md-4 offset-md-4">
  <div class="card">
    <h3 class="text-center pt-5">Iniciar sesión</h3>
    <!-- Si existe mensaje de error se mostrará alerta -->
    <div class="alert alert-danger pt-4 pl-3 pr-3 pt-4" *ngIf="errorMsg">
      <!-- {{ errorMsg }} -->
      <p class="text-center">Hemos tenido problemas con su autenticación</p>
      <a class="nav-link text-center" href="/login">
        <i class="fas fa-clipboard-list"></i>
        Volver a intentarlo
      </a>
    </div>
    <div class="card-body">
      <!-- Se exporta formulario como un ngForm -->
      <form
        class="pb-5 pl-3 pr-3"
        *ngIf="!ingresado"
        (ngSubmit)="onSubmit()"
        #loginForm="ngForm"
        novalidate
      >
        <!-- Value se pasa en json, luego a cada input se le pone ngModel 
        **Se requiere que cada input tenga un name="" **-->
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <!-- El campo será invalido cuando no tiene nada, y cuando el usuario toca algo -->
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="loginModel.email"
            required
            email
            name="email"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
          />
          <!-- ERRORES -->
          <!-- No ingresado -->
          <small
            class="text-danger"
            *ngIf="email.errors && email.errors.required && email.touched"
            >Por favor, ingrese correo electrónico</small
          >
          <!-- No valido -->
          <small
            class="text-danger"
            *ngIf="email.errors && email.errors.email && email.touched"
            >El correo ingresado no es válido</small
          >
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="loginModel.password"
            required
            name="password"
            #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched"
          />
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Ingrese contraseña</small>
        </div>
        <button
          [disabled]="loginForm.form.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>